# SC5002 Lab Group 5
1) Ho Min Han
2) 
3)

PLEASE ACTIVATE ENVIRONMENT WITH

`.\venv\Scripts\activate`

## Import Dataset

In [2]:
import pandas as pd

# Define column names from the dataset documentation
column_names = [
    "symboling", "normalized_losses", "make", "fuel_type", "aspiration", "num_doors", 
    "body_style", "drive_wheels", "engine_location", "wheel_base", "length", "width", "height", 
    "curb_weight", "engine_type", "num_cylinders", "engine_size", "fuel_system", 
    "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm", 
    "city_mpg", "highway_mpg", "price"
]

# Load the dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
df = pd.read_csv(url, names=column_names, na_values="?")  # "?" represents missing values

# Display first few rows
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

## Check for  Data

In [3]:
print(df.isnull().sum())  # Prints number of missing data

symboling             0
normalized_losses    41
make                  0
fuel_type             0
aspiration            0
num_doors             2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_cylinders         0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

## Imputation

In [ ]:
# Imputate using median (numerical)
df["normalized_losses"].fillna(df["normalized_losses"].median(), inplace=True)
df["bore"].fillna(df["bore"].median(), inplace=True)
df["stroke"].fillna(df["stroke"].median(), inplace=True)
df["horsepower"].fillna(df["horsepower"].median(), inplace=True)
df["peak_rpm"].fillna(df["peak_rpm"].median(), inplace=True)
df["price"].fillna(df["price"].median(), inplace=True)  # Target variable

# Imputate using mode (categorical)
df["num_doors"].fillna(df["num_doors"].mode()[0], inplace=True)

## Verify that there is no more missing data

In [5]:

print(df.isnull().sum())

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

## Encoding categorical data

In [ ]:

from sklearn.preprocessing import LabelEncoder
# One Hot encoding for nominal data (discrete)
df = pd.get_dummies(df, columns=["fuel_type", "aspiration", "body_style", "drive_wheels", 
                                 "engine_location", "engine_type", "fuel_system"], drop_first=True)

# Label Encoding for ordinal data (nominal)
encoder = LabelEncoder()
df["num_cylinders"] = encoder.fit_transform(df["num_cylinders"])
df["num_doors"] = encoder.fit_transform(df["num_doors"])


## Split into training/testing data

In [8]:
from sklearn.model_selection import train_test_split

# Define features and target
X = df.drop(columns=["price"])  # Features
y = df["price"]  # Target variable

# Split into 80% training, 20% testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)